html, body { min-height: 100vh; 
  margin: 0;
  padding: 0;
  background-color: #edf5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;


}



#home{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  auto auto auto auto auto auto auto;
  max-width: 100%;
}
header{
  display: grid;
  padding: 0;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 20% 1fr 30%;
  grid-template-rows: auto;
  padding: 0;
  background-color: #edf5f5;


  


}
nav{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
 
}
header section{
  display: flex;
  justify-content: right;
}

#LOGO{
  display: inline-flex;
  margin: 0;
  padding: 5%;
  justify-content: left;
  align-items: center;
  


  
  

}







#name{
  display: inline-flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: #35b3b8;

  
}

#social{
  background-color: #edf5f5;

}
#social a{
  margin-left: 20px;
  color: #727c7b;
  transition: all 0.5s;
  

  
 
  
  
  

}

#social a svg{
  width: 30px;
  height: 30px;
  
  
}
#social a:hover{
  transform: translatey(-5px);
  color: #35b3b8;

  
  


}
main{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  background-color: #edf5f5;
  
  padding: 0;
  margin: 0;
  background-size: cover;
  
}
#left{
  display: flex;
  justify-content: center;
  padding: 2%;
  
  
  
  

}
#typedtext{
  display: block;
  color: #6e8686;
  justify-content: center;
  align-items: center;
  padding: 2%;
  padding-top: 4%;
  width: 90%;
  height: 90%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#intro1{
  margin: 10px;
  font-size: 1.4em;
  color: #35b3b8;

  
}
#intro2{
  margin:10px;
  font-size: 4.7em;
  font-weight: bolder;
  color: #888d8d;
}
#intro3{
  margin: 10px;
  font-size: 2em;
}
#intro4{
  margin: 10px;
  font-size: 1em;
}




















#right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5%;
  
  
}
#right svg{
  width: 90%;
  height: 90%;

  


  
  


}




nav a{
  margin-right: 5vw;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  padding: 3px;
  color: #727c7b;
 
  
  
  
}
nav a:hover{
  color: #35b3b8;
  

  
  


}


#intro{
  display: flex;
  color: rgb(41, 37, 37);
  font-size: 1.5em;
  padding: 2%;
  justify-content: center;
  align-items: center;
  background-color: #edf5f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 2px 100px 2px 2px;
  color: #35b3b8;


}
#intro > p{
  text-shadow: 2px 1px;
}
#story{
  

 

  padding-left: 5%;
  background-color: #edf5f5;
  transition: all 1.5s;
}
#story #content{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;

  
}


#story #story-text{
  display: flexbox;
  font-size: 1.25em;
  color: #707575;
  

  padding-right:5% ;
  place-content: center;
  
  
  
  
  
  
  
  
}

#story #content #about{
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  padding: 2%;
  color: #3d546e;
  margin-bottom: 5%;
  font-size: 1.25em;
  

}
#story #content #about img{
  width: 90%;
  height: 60%;
  background-color: #869091;
  

}
#story #content #about p{
  margin: 7px;
  

}
.title{
  font-size: 1.8em;
  color: #5cacac;
  font-weight: bold;
} 
  
  
  
  
  



#skills{
  padding: 50px;
  
  background-color: #edf5f5;

}
#skills p{
  font-size: 1.25em;
  color: #707575;

}
#skills .title{
  font-size: 1.8em;
  color: #5cacac;
  font-weight: bold;
}


#skills-intro{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns: 50% 50%;
}
#skills-intro section span{
  
  font-size: 1.2em;
  margin: 1%;
  padding: 4%;
  border-radius: 10px;
  background-color: #569b9b;
  color: #e1eaeb;
  transition: all 0.5s;
  
}
#skills-intro section span:hover{
  background-color: #b3b9b9;
  color: #434949;
  
  
transform: translatey(-5px);

}
#skills-list{
  display: flex;
  flex-flow: row wrap;
  width: 95%;
 
}
#skills-img img{
  
  width: 100%;

}
#skills-img{
  display: flex;
  justify-content: center;
}

#projectes{
  
  background-color: #edf5f5;


}
#project-intro{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  
}
#projectes .int{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:10px;
  font-size: 1.2em;
  
  color: #4c4e4e;
  
}
.project-list{
  display: flex;
  
  flex-flow: row wrap;
  justify-content: center;
  
  
  
  
}




.project-list section{
  display: block;
  box-shadow: rgba(0, 0, 0, 0.829) 0px 20px 60px 0px;
  border-radius: 7%;
  width: 200px;

  margin: 3%;
  background-color: #262727;
  padding: 1%;
  transition: all 2s;
 
  
  
}

.project-list #card2{
  transition-delay: 300ms;
}
.project-list #card3{
  transition-delay: 600ms;
}
.project-list #card4{
  transition-delay: 900ms;
}


.project-list #card1 span .card-title{
  padding: 4%;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  background-color: #79753d;
  
    
}

.project-list #card1 span .card-subtitle{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #3d7962;
  
  
    
}
.project-list #card1 span .description{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #4e3e32;
  
    
}

.project-list #card2 span .card-title{
  padding: 4%;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  background-color: #3d796f;
    
}

.project-list #card2 span .card-subtitle{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #3d6879;
  
  
    
}
.project-list #card2 span .description{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #414e32;
  
    
}


.project-list #card3 span .card-title{
  padding: 4%;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  background-color: #755c7a;
    
}

.project-list #card3 span .card-subtitle{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #555452;
  
  
    
}
.project-list #card3 span .description{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #606436;
  
    
}

.project-list #card4 span .card-title{
  padding: 4%;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  background-color: #3d546e;
    
}

.project-list #card4 span .card-subtitle{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #75623d;
  
  
    
}
.project-list #card4 span .description{
  padding: 4%;
  font-size: 1em;
  color: #F7F7F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: #5e415b;
  
    
}












#progresses{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin:0;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  padding-bottom: 4%;
  
}
#progresses p{
  color: #258083;
}

progress{
  opacity: 0;
}





.progress-container{
  background: rgb(204, 214, 188);
  height: 30px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
 
  /* box-shadow: 0px 20px 40px 0px rgb(25, 131, 122); */
}
.progress-container .progress-bar{
  opacity: 0;
  
  background-color:#569b9b  ;
  height: 100%;
  position: relative;
  transition: all 2.5s;
}
.progress-element{
  margin-right: 4%;
  width: 300px;
}
.progress-lable1{
  position: relative;
  
  
}
.progress-lable1::after{
  content: "75%";
  position: absolute;
  top: 0;
  right: 0;
}

.progress-lable2{
  position: relative;
}
.progress-lable2::after{
  content: "90%";
  position: absolute;
  top: 0;
  right: 0;
}





.progress-lable3{
  position: relative;
}
.progress-lable3::after{
  content: "85%";
  position: absolute;
  top: 0;
  right: 0;
}

.progress-lable4{
  position: relative;
}
.progress-lable4::after{
  content: "75%";
  position: absolute;
  top: 0;
  right: 0;
}
.progress-lable5{
  position: relative;
}
.progress-lable5::after{
  content: "75%";
  position: absolute;
  top: 0;
  right: 0;
}

.progress-lable6{
  position: relative;
  
}
.progress-lable6::after{
  content: "65%";
  position: absolute;
  top: 0;
  right: 0;
}
#Contact{
  grid-template-rows: auto;
  padding: 2%;
  background-color: #edf5f5;
 
}


#Contact p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: light;
  font-size: 2em;
  color: #030303;
  

}

#Contact section{
  display: flex;
  justify-content: center;
  padding: 2%;
  
  

}
input{ 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  border:0;
  border-bottom:1px solid  #b1c6ce;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  margin-bottom: 10%;

}
input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid  #000000;	
 }




textarea{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: block;
  margin-bottom: 1.25em;
  width: 100%;
  height: 100px;
  border: 0;
  resize: none;
  background-color: #e8ecee;



}
textarea:focus{ 
  border:none;	
  outline:none;
 }
button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  width:30% ;
  height: 40px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  color: #F7F7F7;
  font-size: 1em;
  background-color:  #7d8383;
  border-radius: 10px;

}

form{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 5%;
  width:400px;
  background-color:#F7F7F7;
  border-radius: 5%;


}



footer{
  background-color: #edf5f5;
  display: block; 
  align-content: center; 
  justify-content: center;
   text-align: center; 
   align-items: center; 
 
 
  

}
footer #footer-p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  font-size: 1em;
  text-align: center;
  color: #35b3b8;
}
footer section a{
  margin-left: 2%;
  color: #35b3b8;
}
footer section a:hover{
  
  color: #727c7b;
  
}
































